html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gotham', sans-serif;
  color: #666;
  background: #F6F6F6;
}

/* #background {
  background-image: linear-gradient(rgb(190, 35, 113) , rgb(33, 12, 219));
  position: fixed;
  margin: 0;
  width: 100%; 
  height: 100%;
} */

/* Navbar: some details here, also styled through bootstrap labels */
.navbar {
  position: relative;
  background-color: transparent;
  background-position: top;
  margin-left: -60px;
  margin-bottom: 30px;
}

.navbar-nav ul a{
  color: white !important;
  }

/* Main styling */
body {
  background-image: linear-gradient(rgb(190, 35, 113) , rgb(33, 12, 219));
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  max-width: 1000px;
  margin: auto;
}

/* Cards: the results containers for content from the api */
.cardContainer {
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 12px;
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(73, 8, 48, 0.15);
  transform: translate3D(-5px, -6px, 0);
  background-image: url("https://carwad.net/sites/default/files/grateful-dead-bolt-129961-1732709.png");
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 1px) {
  .card {
    flex: 1 1 calc(100% - 30px);
  }
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 30px);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 50px);
  }
}

/* Content: the images and words within the cards */
.content {
  background-color: rgb(240, 178, 248);
  padding: 10px;
  opacity: 1.0;
  filter: alpha(opacity=100);
        }

.content:hover {
  opacity: 0.80;
  filter: alpha(opacity=80);
}

h1 {
  text-align: center;
  padding: 4px 4px;
  margin: 0 0 3px 0;
  font-size: 24px;
  color: white;
  background-image: linear-gradient(120deg, #bd36b6 0%, #9413eb 100%);
}

p {
  padding: 0 4px 4px;
  margin: 0;
  color: rgb(8, 0, 0);
}

img {
  display: block;
  margin: 3px auto;
  max-width: 100%;
}

/* Other Elements */
.selTable {
  /* z-index: 1;
  position: sticky; */
  top: 0;
  position: -webkit-sticky; /* Safari */
}

.selContainer {
  display:inline-block;
  margin-left: 40px;
}

.other {
            float: center;
        }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/11/20/05/wave-1817646_960_720.png");
  color: white;
  text-align: center;
  margin-top: 30px;
}