html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gotham', sans-serif;
  color: #666;
  background: #F6F6F6;
}

.navbar {
  position: relative;
  background-color: transparent;
  background-position: top;
  margin-bottom: 30px;
}

a:link,
a:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* a:hover,
a:active {
  color: white;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/11/20/05/wave-1817646_960_720.png");

} */

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(190, 35, 113) , rgb(33, 12, 219));
  padding: 20px;
  font-family: 'Gotham', Georgia, 'Times New Roman', Times, sans-serif;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.selTable {
  /* z-index: 1;
  position: sticky; */
  top: 0;
  position: -webkit-sticky; /* Safari */
}

.selContainer {
  display:inline-block;
  margin-left: 40px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

/* .selector {
  				margin:0px 0px 20px 0px;
} */


h1 {
  text-align: center;
  padding: 4px 4px;
  margin: 0 0 3px 0;
  font-size: 24px;
  color: white;
  background-image: linear-gradient(120deg, #bd36b6 0%, #9413eb 100%);
}

p {
  padding: 0 4px 4px;
  margin: 0;
}

img {
  display: block;
  margin: 3px auto;
  max-width: 100%;
}

/* Cards: the results containers for content from the api */
.card {
  margin: 12px;
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}


/* .row {
  margin: 10px - 16px;
}

.row, .row>.column {
  padding: 10px;
} */

/* .column {
  float: center;
  width: 33.33%;
  display: none;
} */


/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.content {
  background-color: white;
  padding: 10px;
    /* transition: filter .5s ease-in-out; */
            /* -webkit-filter: grayscale(0%);
            filter: grayscale(0%); */
            opacity: 1.0;
            filter: alpha(opacity=100);

        }

.content:hover {
  opacity: 0.80;
  filter: alpha(opacity=80);
}

@media screen and (max-width: 1000px) {
            .column {
                width: 50%;
            }
        }

@media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }

@media screen and (min-width: 1px) {
  .card {
    flex: 1 1 calc(100% - 30px);
  }
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 30px);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 50px);
  }
}

.other {
            float: center;
        }

.footer {
            /* position: fixed; */
            left: 0;
            bottom: 0;
            width: 100%;
            background-image: url("https://cdn.pixabay.com/photo/2016/11/11/20/05/wave-1817646_960_720.png");


            color: white;
            text-align: center;
            margin-top: 30px;

}









/* from the ghibli */
/* * {
  box-sizing: border-box
} */


/* #root {
  max-width: 1200px;
  margin: 0 auto;
} */










/* .card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
} */